<div class="wrap">
    <h3>Edit person</h3>

    <form action="{{ pluginUrl('Default:edit', { 'id': id }) }}" method="POST" {{ form_enctype(form) }}>

        {{ form_widget(form) }}

        <input type="submit" class="button-primary" value="Save" />
    </form>
</div>